services:
  api-node-prisma-sqlite:
    build:
      context: .
      dockerfile: Dockerfile
    container_name: api-node-prisma-sqlite-app
    ports:
      - "3000"
    env_file:
      - .env
    volumes:
      - ./db:/app/db
    restart: unless-stopped
    networks:
      - main-network

networks:
  main-network:
    name: main-network
    driver: bridge