services:
  api-node-prisma-sqlite:
    build:
      context: .
      dockerfile: Dockerfile
    container_name: api-node-prisma-sqlite-app
    ports:
      - "3010:3000"
    env_file:
      - .env
    volumes:
      - ./db:/app/db
    restart: unless-stopped
    networks:
      - homologacao-network

networks:
  homologacao-network:
    name: homologacao-network
    driver: bridge